* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

main {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

/* nav section style */
nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    padding: 8px 0;
    width: 80px;
    height: 80px;
}

.nave_menue {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nave_menue ul {
    display: flex;
}

.nave_menue ul li {
    list-style: none;
    margin-left: 48px;
}

.nave_menue ul li:nth-child(1) {
    list-style: none;
    margin-left: 0;
    color: #fff;
}

.nave_menue ul li a {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.nave_menue ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(to right, red, rgb(138, 214, 151), rgb(8, 223, 1));
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.3s ease-in-out;
}

.nave_menue ul li a:hover::after {
    width: 100%;
}

nav .cart {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

nav .cart .fa-cart-plus {
    color: rgb(236, 43, 43);
}

/* hero section style */
.hero {
    width: 100%;
    height: 461px;
    margin-top: 120px;
    display: flex;
    align-items: end;
}

.hero .hero_content,
.hero_image {
    width: 50%;
}

.hero_content h1 {
    font-size: 65px;
    font-weight: 600;
    color: #000000;
}

.hero_content h1 span {
    color: #E95A08;
}

.hero_content p {
    font-size: 22px;
    font-weight: 400;
    color: #00000085;
    margin-top: 13px;
}

.product {
    width: 100%;
    margin-top: 120px;
}

.product_header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_header P {
    padding-bottom: 49px;
    padding-top: 16px;
}

.product_card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}


.product_card .card img {
    width: 100%;
}

.product_card h4 {
    color: #111111;
    font-size: 22px;
    font-weight: 500;
}

.product_card .price {
    color: #111111;
    font-size: 22px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 30px;
}

.product_card button {
    width: 100%;
    background-color: #E95A08;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
}

.salar {
    margin-top: 210px;
}

.seiler {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    /* background-color: #000000; */
}

.seiler .seiler_content h1 {
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}

.seiler .seiler_content ul {
    padding-left: 25px;
}

.seiler .seiler_content ul li {
    list-style-type: disc;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.trusted-badge {
    width: 30%;
    position: absolute;
    top: -30%;
    left: 30%;
}

.Deals {
    width: 100%;
    margin-top: 133px;
}

.Deals .deals_content {
    text-align: center;
    margin-bottom: 120px;
}

.Deals .deals_content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px;
}

.Deals .deals_content h1 span {
    color: #E95A08;
}

.Deals .deals_content p {
    font-size: 22px;
    color: #00000075;
}

.banner-container {
    display: flex;
    gap: 15px;
    background: transparent;
}

.left-banners {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}

.banner {
    position: relative;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.541);
    background-blend-mode: overlay;
}

.banner.large {
    width: 70%;
    height: 320px;
}

.banner a {
    color: #fff;
    margin-top: 5px;
    text-decoration: underline;
}


.subscribe-section {

    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-image: url('https://images.unsplash.com/photo-1490750967868-88aa4486c946?auto=format&fit=crop&w=1400&q=60');
    background-position: center;
    padding: 120px 20px;
    text-align: center;
    color: white;
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.541);
    background-blend-mode: overlay;
    background-size: 140%;

}

.subscribe-section h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 25px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.subscribe-box {
    display: flex;
    width: 500px;
    max-width: 90%;
    margin: auto;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.subscribe-box input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 16px;
}

.subscribe-box button {
    background: #f36c21;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.subscribe-box button:hover {
    background: #d55510;
}


.footer {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background: #f8fafc;
    padding: 60px 0;
    font-family: Arial;
}

.footer-container {
    width: 90%; 
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.footer-left {
    width: 30%;
}

.footer-left img {
    width: 130px;
    margin-bottom: 15px;
}

.footer-left p {
    color: #6c6c6c;
    font-size: 15px;
    line-height: 22px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin: 8px 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 15px;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #f36c21;
}

.footer-social {
    display: flex;
    align-items: start;
    gap: 15px;
}

.footer-social img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
}

.footer-social img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}



/* mobile responsive */
@media (max-width: 767px) {
    main {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;
    }

    .nave_menue ul {
        display: none;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .hero {
        flex-direction: column-reverse;
        margin-top: 28px;
    }

    .hero .hero_content,
    .hero_image {
        width: 100%;
        padding: 14px 0;
    }

    .hero_content h1 {
        font-size: 24px;
    }

    .hero_content p {
        font-size: 14px;
    }

    .product_card {
        grid-template-columns: repeat(2, 1fr);
    }


    .product_card h4 {
        font-size: 14px;
    }

    .trusted-badge {
        display: none;
    }

    .seiler {
        display: block;
    }

    .salar {
        margin-top: 41px;
    }

    .seiler .seiler_content h1 {
        font-size: 24px;
        margin: 16px 0;
    }

    .seiler .seiler_content ul li {
        font-size: 14px;

    }



    .banner-container {
        flex-direction: column;
    }

    .left-banners {
        width: 100%;
        order: 1;
    }

    .banner.large {
        width: 100%;
        order: 2;
        height: 201px;
    }

    .banner {
        height: 201px;
    }

    .Deals .deals_content {
        margin-bottom: 51px;
    }

    .Deals .deals_content h1 {
        font-size: 24px;
    }

    .Deals .deals_content p {
        font-size: 14px;
    }
    
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: start;
    }

    .footer-left, 
    .footer-links {
        width: 100%;
        text-align: start;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: start;
        gap: 50px;
    }

    .footer-social {
        display: flex;
        align-items: start;
        justify-content: start;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main {
        width: 100%;
        margin: 0 auto;
        padding: 0 60px; 
    }

    .hero {
        margin-top: 28px;
        height: 320px;
    }

    .hero .hero_content h1 {
        font-size: 28px;
    }

    .hero .hero_content p {
        font-size: 16px;
    }

    .trusted-badge {
        display: none;
    }

    .seiler {
        display: flex;
        gap: 30px; 
    }

    .salar {
        margin-top: 41px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    main {
        width: 100%;
        margin: 0 auto;
        padding: 0 60px;
    }

    .hero {
        margin-top: 28px;
        height: 320px;
    }

    .hero .hero_content h1 {
        font-size: 36px;
    }

    .trusted-badge {
        display: none;
    }

    .seiler .seiler_content h1 {
        font-size: 40px;
        margin: 16px 0;
    }

    .seiler .seiler_content ul li {
        font-size: 18px;

    }
}