* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

main {
    width: 100%;
    margin: 0 150px;
}

nav {
    width: 100%;
    height: 80px;
    /* background-color: #02536be1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    padding: 8px 0;
    width: 80px;
    height: 80px;
}

.nave_menue {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nave_menue ul {
    display: flex;
}

.nave_menue ul li {
    list-style: none;
    margin-left: 48px;
}

.nave_menue ul li:nth-child(1) {
    list-style: none;
    margin-left: 0;
    color: #fff;
}

.nave_menue ul li a {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.nave_menue ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    /* background-color: rgb(8, 223, 1); */
    background: linear-gradient(to right, red, rgb(138, 214, 151), rgb(8, 223, 1));
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.3s ease-in-out;
}

.nave_menue ul li a:hover::after {
    width: 100%;
}

nav .cart {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

nav .cart .fa-cart-plus {
    color: rgb(236, 43, 43);
}

/* hero section style */
.hero {
    width: 100%;
    height: 461px;
    /* background-color: #8987A1; */
    margin-top: 120px;
    display: flex;
    align-items: end;
    /* grid-template-columns: repeat(2,1fr); */
}

.hero .hero_content,
.hero_image {
    width: 50%;
}
.hero_content h1{
    font-size: 65px;
    font-weight: 600;
    color: #000000;
}
.hero_content h1 span{
    color: #E95A08;
}
.hero_content p{
    font-size: 22px;
    font-weight: 400;
    color: #00000085;
    margin-top: 13px;
}



/* mobile responsive */
@media (max-width: 767px) {
    main {
        width: 100%;
        margin: 0 16px;
    }

    .nave_menue ul {
        display: none;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .hero {
        flex-direction: column-reverse;
        margin-top: 28px;
    }

    .hero .hero_content,
    .hero_image {
        width: 100%;
        padding: 14px 0;
    }

    .hero_content h1{
        font-size: 24px;
    }
    .hero_content p{
        font-size: 14px;
    }
}

/* Tablet responsive */
@media (min-width: 768px) and (max-width: 1023px) {
    main {
        width: 100%;
        margin: 60px;
    }
    .hero {
        margin-top: 28px;
        height: 320px;
    }

    .hero .hero_content h1{
        font-size: 28px;
    }
    .hero .hero_content p{
        font-size: 16px;
    }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    main {
        width: 100%;
        margin: 60px;
    }
    .hero {
        margin-top: 28px;
        height: 320px;
    }

    .hero .hero_content h1{
        font-size: 36px;
    }
}